.welcome-screen {
    background: url('./codingGuy.gif') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white; /* Adjust text color based on your background */
  }
  
  .welcome-screen::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay color */
    z-index: 1;
  }
  
  .welcome-text {
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    color: white;
  }
  
  .IconButton {
    z-index: 2; 
    position: relative;
    top: 200px;
  }
  /* Add additional styling and animations here */
  