.welcome-screen {
    background: url('./codingGuy.gif') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white; /* Adjust text color based on your background */
  }
  
  .welcome-screen::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); /* Overlay color */
    z-index: 2;
  }
  
  .welcome-text {
    position: relative;
    z-index: 2;
    text-shadow: 4px 4px 12px rgb(0, 0, 0);
    color: white;
  }
  
  .IconButton {
    z-index: 2; 
    position: relative;
    top: 200px;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  /* Add additional styling and animations here */
  